---
import Layout from '../layouts/Layout.astro'
import Showcase from '../components/Showcase.astro';
import Features from '../components/Features.astro';
---



<Layout title="Index Page">
	<Showcase showExtra={true}/>
	<Features/>
  <h1>My Page</h1>
</Layout>
</>